* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #7d7d7d;
    background: #f3f3f3;
}

header, #portfolio, #contact, #skillssection, footer {
    margin: 0 15px 65px;
    line-height: 1.5;
}

footer {
    border-top: 2px solid #adadad;
    padding-top: 25px;
    margin-bottom: 15px;
}

div#portfolio p {
    padding: 0 12px;
    letter-spacing: -.5px;
}

h1 {
    font-size: 1em;
    margin-bottom: 15px;
    padding-top: 20px;
}

h2 {
    font-size: 1.25em;
    margin-bottom: 9px;
}

a {
    text-decoration: none;
    color: #999;
    transition: all .5s;
}

a:hover {
    color: #555;
}

nav {
    padding: 10px;
}

nav, h1, footer ul {
    text-transform: uppercase;
}

.flex, .skillsset, footer ul {
    display: -ms-flexbox;
/* TWEENER - IE 10 */
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer ul {
    min-height: 30px;
    justify-content: space-between;
}

footer ul, nav ul {
    font-weight: 700;
}

.card {
    width: 100%;
    text-align: left;
    transition: all .5s;
}

.card h2 {
    text-align: center;
}

.set1 .card {
    margin-bottom: 0;
}

.skillslevel li span {
    width: 10%;
    display: block;
    height: 100%;
    overflow: visible;
}

ul.skillslevel {
    margin-top: 5px;
}

.skillslevel li span {
    background-color: #537fbc;

}

ul.skills, ul.skillslevel {
    padding: 0;
    text-align: center;
}

.skillslevel li {
    display: inline-block;
    color: #fff;
}

.skillslevel li span {
    padding: 5px 10px;
}



.skillslevel li span {
    margin: 2px 0;
}

.skillslevel li {
    display: block;
    text-align: left;
    background: #a1a7af;
}

.skillsset .flex {
    justify-content: space-between;
}

footer ul, nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 14px;
}

nav ul li.name {
    display: block;
    font-size: 1.5em;
    padding-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

nav ul li.name, footer ul li.name-footer {
    text-transform: none;
}

header img {
    margin: 20px 0 25px;
    width: 68.96%;
}

#portfolio img {
    max-width: 100%;
    margin-bottom: 15px;
}

.contact-info {
    margin: 20px 0;
    line-height: 35px;
}

#contact {
    margin-bottom: 50px;
}

#contact > p, .card, #portfolio img {
    margin-top: 30px;
}

div#contact ul li {
    display: inline-block;
    list-style: none;
    margin-top: 40px;
}

footer ul li.sections-nav {
    display: none;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .5;
    transition: all .5s;
}

a.behance {
    background-image: url(https://a3.behance.net/img/site/favicon.ico?cb=396888926);
}

a.linkedin {
    background-image: url(https://static.licdn.com/scds/common/u/images/logos/favicons/v1/16x16/favicon.ico);
}

a.social:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    nav ul, .projects-wrap {
        display: -ms-flexbox;
    /* TWEENER - IE 10 */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav ul li.name {
        margin-top: 30px;
        flex-basis: 100%;
    }

    footer ul li.name-footer {
        display: block;
        margin-right: auto;
        margin-top: 0;
        flex-basis: auto;
        padding-right: 0;
        padding-left: 0;
    }

    footer ul li.sections-nav {
    display: inline;
    }

    .sections-nav ul li:last-child, 
    footer ul li.sections-nav  {
        padding-right: 0px;
    }

    footer ul li {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer ul li.back-top {
        display: none;
    }



    nav, header, #portfolio, #skillssection, #contact, footer {
        margin: 0 30px 80px;
    }

    nav {
        margin-bottom: 40px;
    }

    #contact {
        margin-bottom: 60px;
    }

    footer {
        margin-bottom: 15px;
    }

    .skillsset {
        flex-wrap: nowrap;
    }

    .clearfix:after {
        content: " ";
    /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }

    header img {
        margin: 0;
        margin-left: 20px;
        float: right;
        max-width: 40%;
    }

    .profile-txt {
        padding-right: 18px;
        text-align: left;
    }

    .profile-txt, #contact p {
        font-size: 1.2em;
    }

    #portfolio div.project, .card {
        flex-basis: 48%;
    }

    .projects-wrap, .skillsset {
        justify-content: space-between;
    }

    #contact p {
        max-width: 70%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    body {
    /*background-image: url(responsive-website_desktop1024.png);*/
        max-width: 1200px;
        margin: 0 auto;
    }

    nav, header, #portfolio, #skillssection, #contact, footer {
        margin: 0 60px 80px;
    }

    nav {
        padding: 0;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    nav ul {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    nav ul li {
        padding-left: 30px;
        padding-right: 30px;
    }

    nav ul li:last-child {
        padding-right: 0;
    }

    nav ul li.name {
        display: block;
        margin-right: auto;
        margin-top: 0;
        flex-basis: auto;
        padding-right: 0;
        padding-left: 0;
    }

    #portfolio div.project {
        flex-basis: 31.5%;
    }
    
    .project {
    transition: all .5s;
    }

    .project:hover {
    transform: scale(1.03);
    }

    #contact {
        margin-bottom: 70px;
    }

    footer {
        margin-bottom: 15px;
    }
}